<ion-content text-center padding>

  <ion-grid>

    <ion-row>
      <ion-col class="top-20">
        <img src="./assets/app-logo.png">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="top-20">
        <h3>Ionic login app</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="top-5">

        <ion-button expand="block" class="google">
          <ion-icon name="logo-google"></ion-icon>
          Google
        </ion-button>

        <ion-button expand="block" class="facebook" (click)="signInWithFacebook()">
          <ion-icon name="logo-facebook"></ion-icon>
          Facebook
        </ion-button>

      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
